<!DOCTYPE html>
<html lang="{{@site.lang}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{meta_title}}</title>
    <link rel="stylesheet" type="text/css" href="{{asset "css/app.css"}}">
    {{ghost_head}}
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700|Noto+Serif:400,700&display=swap" 
          rel="stylesheet">

    <link rel="stylesheet" 
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
          crossorigin="anonymous">
  </head>
  <body class="{{body_class}}">
    {{{body}}}
    <footer>
      <section class="footer">
        <article>
          <section>
            <ul>
              <li><a href="https://blog.colinpetruno.com" />Production Rails</a></li>
              <li><a href="https://www.colinpetruno.com" />About the Author</a></li>
              <li><a href="https://www.colinpetruno.com/#services" />Services</a></li>
              <li><a href="https://www.colinpetruno.com/#projects" />Projects</a></li>
              <li><a href="https://www.colinpetruno.com/#technologies" />Technologies</a></li>
              <li><a href="https://www.colinpetruno.com/#contact" />Contact</a></li>
              <li><a href="https://www.colinpetruno.com/privacy" />Privacy Policy</a></li>
            </ul>
          </section>

          <form class="js-cm-form" 
                id="subForm" 
                action="https://www.createsend.com/t/subscribeerror?description=" 
                method="post" 
                data-id="2BE4EF332AA2E32596E38B640E905619F867686724933D580DFEAE4ED154B873750A8C8EA837C178D0CCEAEA15CA60B97D21A9588E1A75FD869FA7EA984E2626">
            <div>
              <h5>Get regular updates</h5>

              Get quarterly updates on the latest production Ruby
              on Rails tips, tricks and advice.  

              <div class="input-group">
                <input autocomplete="Email" 
                       aria-label="Email" 
                       class="js-cm-email-input qa-input-email form-control" 
                       id="fieldEmail" 
                       maxlength="200" 
                       placeholder="Email"
                       name="cm-whlujt-whlujt" 
                       required="" 
                       type="email" />
                <div class="input-group-append">
                  <button type="submit" class="button primary">Subscribe</button>
                </div>
              </div>

              <div>
                <div>
                  <input id="cm-privacy-consent-hidden" 
                         name="cm-privacy-consent-hidden" 
                         type="hidden" 
                         value="true" />
                </div>
              </div>
            </div>
          </form>
        </article>
      </section>
    </footer>
    {{ghost_foot}}
    <script type="text/javascript" src="{{asset "js/app.js"}}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
